@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900& display=swap');
body {
    font-family: 'Poppins','sans-serif';
    margin: 0;
    padding: 0;
    background-color: #151414;
}
section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
}

/* done by Elmohamady */
#signUp,#signIn{
    display: none;
}

#signOut,#userProfile{
    display: none;
}
/* End */
header {

    text-align: left;
    padding: 1em;
}
.navbar-brand{
    font-size: 2.5rem;
margin-left: 1.5rem;
font-weight: bold   ;
}
.offcanvasDarkNavbarLabel{
    font-size: 1rem;
}
.offcanvas-body {
    background-image: url('/Front-Endvbndsfkjbv;ksjdfbv;kjnb/media/nav1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
/* Navbar item styles */
.nav-item, .nav-link {
    font-size: 1.4rem;
    transition: 0.5s;
    text-align: center;
    color: #fff; /* white color */
    margin-bottom: 0.5rem;
}

/* Navbar link hover effect */
.nav-link:hover, .nav-link.active:hover {
    font-size: 1.6rem;
    background-color: #ffffff;
    border-radius: 5rem;
    color: #151414;
    font-weight: bold;
letter-spacing: 0.1rem;
}

/* Navbar dropdown link hover effect */
.nav-item.dropdown:hover .nav-link {
    font-size: 1.6rem;
    background-color: #ffffff;
    border-radius: 5rem;
    color: #151414;
    font-weight: bold;
}


#user ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

#user .user-img img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10rem; /* Adjust margin as needed */
}

#user .out .out-icon {
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 12px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;
    margin-bottom: 10px; /* Adjust margin-bottom as needed */
}

#user .out .out-icon:hover {
    color: #ff0000;
    background-color: #ffffff;
    border-radius:5rem;

}

/* done by Elmohamady */
#user .out {
    cursor: pointer;
}






/* Navbar dropdown item hover effect */
.dropdown-item:hover {
    background-color: #ffffff;

    color: #151414;
    font-weight: bold;
}
/* Search button styles */
.btn-success {
    background-color: rgb(221, 228, 16);
    transition: 0.3s;
    border: none;
    color: #000;
}

/* Search button hover effect */
.btn-success:hover {
    background-color: #1c0475; /* Change to your desired hover background color */
    transform: scale(1.1); /* Adjust the scale factor as needed */
    border-radius: 10rem;

}
    

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #151414;
   
}
.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
}
.home-content h1 {
    font-size: 8rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 2rem;
    margin-bottom: 3rem;
    color: #ffffff;
    letter-spacing: 2rem;
}

/* Style for h3 */
.home-content h3 {
    font-size: 2rem;
    font-weight: 500;
letter-spacing: .2rem;
    color: #ffffff;
margin-bottom: 1rem;
margin-top: 1rem;
}
.home-content h2{
    font-size: 2rem;
    font-weight: 500;
letter-spacing: .2rem;
    color: #ffffff;
margin-bottom: 1rem;
margin-top: 1rem;
background: linear-gradient(90deg,#0ef, #ada3cd);
-webkit-background-clip: text;
color: transparent;
}


/* Style for p */
.home-content p {
    font-size: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;

}





.icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
margin-top:3rem;
    bottom: 2rem;
    right: 2rem;
}


.icon-container i {
    font-size: 5rem;

    transition:4s  ;
}


footer {
    background-color: #212529;
    color: #fff;
    text-align: center;
    padding: 1em;

    bottom: 0;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .home-content h1 {
        font-size: 2.3rem;
        letter-spacing: 0.3rem;
        margin-top: 1rem;
        
    }

    .home-content h3{
        font-size: 1.0rem;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }
    .home-content h2{
        font-size: 1rem;
    }
    .home-content p {
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 768px) {
    .header-container {

      align-items:center;
    }
    .navbar-brand{
        font-size: 2.5rem;
    margin-left: 0rem;
    font-weight: bold   ;
    }
    .container-fluid{
        width: auto;
    }
  
    .header-container img {
        width: 30px;

      margin-top: 0;
      margin-bottom: 10px; /* Add spacing between image and other elements in smaller screens */
    }
    #user .user-img img {

        margin-right:auto; /* Adjust margin as needed */
    }

  }
@media screen and (max-width: 375px){
    #user .out .out-icon {

        font-size: 10px;
        font-weight: bold;

    }
}
    








