@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800;900& display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', 'sans-serif';
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    background: linear-gradient(45deg, #000000, #201e1e, #000000);
    background-size: 200% 100%; /* Added background-size property */
    animation: color 4s ease-in-out infinite; /* Adjusted animation duration */
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



form {
    margin: auto;
    width: 50%;
}

/* Full-width inputs */
input[type=email],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 0.5rem;
}


/* Set a style for all buttons */
button {
    font-family: 'Poppins', 'sans-serif';
    background-color: #dde410;
    color: rgb(9, 7, 7);
    font-weight: bold;
    padding: 14px 20px;
    font-size: 1.2rem;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 0.5rem;
}
button:first-child{
    color: rgb(255, 255, 255);
    font-size: 1rem;
}


/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #ab1d00;
}

/* Center the avatar image inside this container */
.imgcontainer {
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0%;
    width: 200px;
    height: 200px;
    color: white;
}

h6 {
    margin: 2%;
    font-size: 2em;
    text-align: center;
    color: white;
}

/* Add padding to containers */
.container {
    padding: 10px;
    border-radius: 0.5rem;
}

.container span a{
    color: #5577ff;
}

label, span{
    color: white;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */

@media (max-width: 600px) {
    form {
        width: 70%;
    }
}
.error{
    color: #ec2600;
}