*{
    margin: 0;
}

p{
    margin-top: 10px;
}

#stars{
    padding-top: 3px;
    padding-left: 10px;
}

section {
    padding: 2%;
    max-width: 70%;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    margin-top: 100px;
    gap: 20px;
    background-color: rgb(255, 255, 255);
}

.Card{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(238, 238, 238);
    padding: 20px;
}

section div div{
    gap: 10px;
    display: flex;
    flex-direction: row;
}

#add-to-cart, #buy-button{
    border-radius: 25px;
    border-bottom: 0;
    border-right: 0;
    box-shadow: 20px;
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
    font-weight: 500;
    background-color: black;
    color: white;
    width: 100%;
    height: 7%;
}

#write-review {
    width: 100%;
    padding-left: 10px;
    border-radius: 25px;
}


#add-to-cart:hover, #buy-button:hover{
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
}

#Post {
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    width: 15%;
    padding-left: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
}

#Post:hover{
    transition-property: all;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
    width: 20%;
    font-weight: 500;
    background-color: rgb(255, 255, 255);
    font-weight: 700;
    color: rgb(0, 0, 0);
    border-color: rgb(255, 255, 255);
    border-width: 2px;
}

.clickable {
    filter: invert(.5);
    transition-duration: 150ms;
}

.clickable:hover {
    filter: invert(0);
    transition-timing-function: ease-in-out;
    transition-duration: 200ms;
    transform: scale(1.2) rotate(72deg);
}



@media only screen and (max-width: 768px) {
    section {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 90%
    }
}

#images-holder img{
    cursor: pointer;
}

/* scroll bar */

#commentsContainer{
    height: 450px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}